#layout-simple {
	aspect-ratio: 1 / 1;
}

/* Top */
#layout-simple :nth-child(1) {
	left: calc(50% - 75px);
	top: 20px;
}

/* Right */
#layout-simple :nth-child(2) {
	right: 20px;
	top: calc(50% - 75px);
}

/* Bottom */
#layout-simple :nth-child(3) {
	left: calc(50% - 75px);
	bottom: 20px;
}

/* Left */
#layout-simple :nth-child(4) {
	left: 20px;
	top: calc(50% - 75px);
}

/* Center */
#layout-simple :nth-child(5) {
	left: calc(50% - 75px);
	top: calc(50% - 75px);
}

