#layout-simple {
	aspect-ratio: 1 / 1;
}

/* Top */
#layout-simple :nth-child(1) {
	top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Right */
#layout-simple :nth-child(2) {
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
}

/* Bottom */
#layout-simple :nth-child(3) {
	bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Left */
#layout-simple :nth-child(4) {
	left: 20px;
	top: 50%;
	transform: translate(0, -50%);
}

/* Center */
#layout-simple :nth-child(5) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

