.center {
    text-align: center;
}

#normalize-container {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center; 
}

#electrode-selector {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;  
}

#electrode-selector input[type="checkbox"] {
    margin-right: 10px;  
}

#electrode-selector label {
    margin-right: 20px;  
}